body {
    background-color: #121212;
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
}

h1, .introduction {
    background: linear-gradient(135deg, #1f2937, #1f2937);
    color: white;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 8px 5px rgba(40, 55, 88, 0.25);
    text-align: center;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    padding: 15px;
    background-color: #1f2937;
}

.link {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.link:hover {
    color: #00bfff;
    transition: 0.2s;
}

.image {
    padding: 20px;
    margin: 10px;
    border: 2px solid #2563EB;
    border-radius: 10px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
