.link{
    text-decoration: none;
    color: black;
    background-color: #E5E7EB;
}

h1, .introduction {
    background: linear-gradient(135deg, #2563EB, #4F46E5);
    color: white;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 8px 5px rgba(37,99,235,0.25);

}

h2 {
    background: linear-gradient(135deg, #2563EB, #4F46E5);
    color: white;
    padding: 20px;
    border-radius: 8px;
}

.home {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.image{
    padding: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px;
}

title {
    box-shadow: 0 8px 25px rgba(37,99,235,0.25);
    border-radius: 16px;
}